.lib-font-face(
    @family-name:'Nothing You Could Do',
    @font-path: '@{baseDir}fonts/NothingYouCouldDo',
    @font-weight: normal,
    @font-style: normal
);

//  Special Font
@font-family-name__special: 'Merriweather';
@font-family__special: @font-family-name__special, @font-family__sans-serif;

//  Special2 Font
@font-family-name__special2: 'Nothing You Could Do';
@font-family__special2: @font-family-name__special2, cursive;

//  Special3 Font
@font-family-name__special3: 'custom-icons';
@font-family__special3: @font-family-name__special3;

@color-button: #007dba;
@color-button-hover: #0099cc;

.nav(@left, @right, @icon, @justify, @bottom) {
    position: absolute;
    width: 10%;
    left: @left;
    right: @right;
    top: 0;
    bottom: @bottom;
    color: @color-white;
    font-size: 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: @justify;
    cursor: pointer;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
    &:after {
        font-family: 'luma-icons';
        content: @icon;
    }
}

.opacity(@opacity) {
    opacity: @opacity;
    transition: opacity, .5s linear;
    transition-delay: 1s;
}

.box-shadow(@blur, @spread, @opacity) {
    -webkit-box-shadow: 0 0 @blur @spread rgba(0, 0, 0, @opacity);
    -moz-box-shadow: 0 0 @blur @spread rgba(0, 0, 0, @opacity);
    box-shadow: 0 0 @blur @spread rgba(0, 0, 0, @opacity);
}

.no-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lookbook-wrapper {
    .sections.nav-sections {
        margin-bottom: 0 !important;
    }
    .page-header {
        margin-bottom: 0 !important;
    }
    .page-footer {
        margin-top: 0;
    }
    .page-main {
        margin: 0;
        padding: 0;
        max-width: initial;
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
        .page.messages {
            display: none;
        }
        .columns {
            padding: 0;
        }
        .column.main {
            margin: 0;
            padding: 0 !important;
            max-width: initial;
            position: relative;
            .lookbook .lookbook-carousel .aspot-container {
                .aspot-img .details {
                    position: absolute;
                    top: 10%;
                    left: 3%;
                    width: 30%;
                    background: rgba(0, 0, 0, .5);
                    padding: 20px;
                    color: @color-white;
                    text-align: center;
                    .headline {
                        font-family: @font-family__special2;
                        font-size: 31px;
                        margin-bottom: 10px;
                    }
                    .button {
                        margin-top: 20px;
                        background: @color-button;
                        padding: 7px 15px;
                        font-family: @font-family__special;
                        text-transform: uppercase;
                        &:hover {
                            cursor: pointer;
                            background: @color-button-hover;
                        }
                    }
                }
                .aspot-promo {
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 1280px;
                    display: flex;
                    padding-right: 20px;
                    padding-left: 20px;
                    .promo {
                        .box-shadow(3px, 1px, 0.125);
                        margin-right: 20px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding: 10px;
                        flex: 1;
                        display: flex;
                        background: @color-white;
                        .details .headline {
                            font-family: @font-family__special;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }
                        &:last-child {
                            margin-right: 0;
                            flex-direction: column;
                            z-index: 3;
                            height: initial;
                        }
                        &:hover {
                            cursor: pointer;
                            .no-select();
                            .box-shadow(3px, 3px, 0.125);
                        }
                    }
                }
            }
        }
    }
}

.lookbook-view {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    .products.wrapper {
        border-bottom: 1px solid @color-gray80;
        flex: 1;
        margin: 0;
        .product-items {
            display: flex;
            flex-direction: row;
            margin-top: -15px;
            margin-bottom: 15px;
            .product-item {
                position: relative;
                margin-right: 15px;
                img {
                    max-height: 100px;
                }
                .product-item-info {
                    width: 100%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    display: none;
                    border-top: none;
                    border-bottom: 12px solid #cccccc;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    left: 50%;
                    bottom: -15px;
                    margin-left: -12px;
                }

                &:hover {
                    cursor: pointer;
                    &:after {
                        display: block;
                    }
                }
                &.active:after {
                    display: block;
                }
                &.added-to-cart:before {
                    font-family: 'luma-icons';
                    position: absolute;
                    content: '\e60e';
                    bottom: 0;
                    left: 0;
                    color: @color-dark-green1;
                }
            }
        }
        a:active {
            outline: none;
        }
    }
    .product.wrapper {
        flex: 6;
        margin-right: 0;
        margin-top: 15px;
        position: relative;
        overflow: hidden;
        min-height: 400px;
        display: flex;
        flex-direction: column-reverse;
        .loader img {
            width: 40px;
        }
        .product-info-main {
            min-width: 300px;
            width: 100%;
            .actions button {
                width: 100%;
            }
            .product-info-stock-sku {
                padding: 0;
            }
            .swatch-attribute-options {
                display: flex;
                flex-wrap: wrap;
                margin: 4px auto 0 auto;
                a:hover {
                    background-color: transparent;
                }
                .swatch-option.image,
                .swatch-option.color,
                .swatch-option.text {
                    padding: 0;
                    margin: 0 8px 8px 0;
                    min-width: 28px;
                    text-align:center;
                    &:not(.disabled):hover {
                        outline-color: @color-black;
                        outline-width: 1px;
                    }
                }
            }
        }
        .product.media {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}

.lookbook-look-added .modal-footer {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    button {
        width: 47%;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.is-paused {
    width: 100% !important;
    height: 100% !important;
    line-height: inherit !important;
}

// Less than 480px, overrides anything greater
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .lookbook-wrapper .page-main .column.main .lookbook .lookbook-carousel .aspot-container .aspot-promo .promo .details {
        flex: 2 !important;
    }
}

// Less than 640px, overrides anything greater
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .lookbook-wrapper .page-main {
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
        .column.main .lookbook .lookbook-carousel .aspot-container {
            .aspot-img {
                position: relative;
                .details {
                    top: initial;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    padding: 10px;
                    text-align: left;
                    box-sizing: border-box;
                    .headline {
                        font-size: 24px;
                        margin-bottom: 0;
                    }
                    .subtitle {
                        font-weight: 600;
                    }
                    .button {
                        content: '';
                        &:after {
                            font-family: 'luma-icons';
                            content: '\e608';
                            float: right;
                            color: #ffffff;
                            font-size: 40px;
                            height: 100%;
                            position: absolute;
                            right: 10px;
                            top: 25%;
                            line-height: 40px;
                        }
                    }
                }
            }
            .aspot-promo {
                flex-direction: column;
                .promo {
                    flex-direction: row;
                    order: 1;
                    margin: 0 0 20px 0;
                    .details {
                        flex: 3;
                        .headline {
                            font-size: 18px;
                        }
                        .subtitle {
                            font-size: 14px;
                        }
                    }
                    .image {
                        flex: 1;
                        padding-left: 10px;
                    }
                    &:last-child {
                        flex-direction: row;
                        order: 0;
                        margin: 20px 0 20px 0;
                    }
                }
            }
        }
    }
}

// Greater than 640px, overrides anything less
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .lookbook-wrapper .page-main {
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
        .column.main .lookbook .lookbook-carousel {
            .aspot-img .details .button {
                display: inline-block;
            }
            .aspot-promo .promo {
                flex-direction: column;
                .details {
                    flex: 1;
                    .headline {
                        font-size: 16px;
                    }
                    .subtitle {
                        font-size: 12px;
                    }
                }
                .image {
                    align-self: center;
                    justify-content: flex-end;
                }
            }
        }
    }
}

// Greater than 768px, overrides anything less
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    @height: 300px;
    .lookbook-wrapper {
        .page-main {
            .prev {
                .nav(0, initial, '\e617', flex-start, @height);
            }
            .next{
                .nav(initial, 0, '\e608', flex-end, @height);
            }
            .column.main .lookbook .lookbook-carousel {
                .owl-item.active {
                    .aspot-img .details {
                        .opacity(1);
                    }
                    .aspot-promo {
                        .opacity(1);
                    }
                }
                .aspot-img {
                    .details {
                        .opacity(0);
                    }
                }
                .aspot-promo {
                    .opacity(0);
                    align-items: flex-start;
                    height: @height;
                    .promo {
                        flex-direction: row;
                        .details {
                            .headline {
                                font-size: 18px;
                            }
                            .subtitle {
                                font-size: 14px;
                            }
                        }
                        .image {
                            align-self: flex-start;
                        }
                        &:not(:last-child) {
                            height: @height - 60px;
                            .details {
                                flex: 2;
                            }
                            .image {
                                flex: 1;
                            }
                        }
                        &:last-child {
                            align-self: flex-end;
                            .subtitle {
                                margin-bottom: 20px;
                            }
                            .details {
                                flex: 2;
                            }
                            .image {
                                align-self: initial;
                                justify-content: initial;
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Greater than 1024px, overrides anything less
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    @height: 240px;
    .lookbook-wrapper .page-main {
        .prev {
            .nav(0, initial, '\e617', flex-start, @height);
        }
        .next {
            .nav(initial, 0, '\e608', flex-end, @height);
        }
        .column.main .lookbook-carousel .aspot-promo {
            height: @height;
            .promo:not(:last-child) {
                height: @height - 60px;
            }
        }
    }
    .lookbook-view {
        .products.wrapper .product-item {
            img{
                max-height: 150px;
            }
            &.added-to-cart:before {
                font-size: 16px;
            }
        }
        .product.wrapper {
            flex-direction: row-reverse;
            .product.media {
                margin-right: 18px;
            }
        }
    }
}

// Greater than 1440px, overrides anything less
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .lookbook-view {
        flex-direction: row-reverse;
        .products.wrapper {
            border-left: 1px solid @color-gray80;
            border-bottom: none;
            padding-left: 3rem;
            .product-items {
                flex-direction: column;
                margin-top: 0;
                .product-item {
                    margin-right: 0;
                    margin-bottom: 15px;
                    &:after {
                        border-top: 12px solid transparent;
                        border-bottom: 12px solid transparent;
                        border-left: 12px solid #cccccc;
                        border-right: none;
                        top: 50%;
                        margin-top: -12px;
                        left: -30px;
                        margin-left: 0;
                    }
                    img {
                        max-height: 200px;
                    }
                    &.added-to-cart:before {
                        font-size: 24px;
                    }
                }
            }
        }
        .product.wrapper {
            .product-info-main {
                margin-right: 15px;
                .actions button {
                    width: 50%;
                }
            }
            .product.media {
                margin-bottom: 0;
            }
        }
    }
}
